h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: 1 1 300%;
}

a {
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
}

a:hover {
    color: var(--primary-over);
}