.customers-list {
    display: flex;  
    flex-wrap: wrap;
    gap: 1rem;
}

.customers-list > * {
   flex: 1 1 33%;
}

a {
    text-decoration: none;
    color: inherit;
}

.hover-select:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.fa-user {
    margin-right: 1rem;
}

h2 {
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 1 1 300%;
}

