h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: 1 1 300%;
}

.close {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}